@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 275 50% 25%;
    --card: 0 0% 100%;
    --card-foreground: 275 50% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 275 50% 25%;
    --primary: 275 100% 41%;
    --primary-foreground: 240 67% 98%;
    --secondary: 275 40% 90%;
    --secondary-foreground: 275 100% 41%;
    --muted: 275 40% 90%;
    --muted-foreground: 275 30% 50%;
    --accent: 275 60% 80%;
    --accent-foreground: 275 50% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 20% 85%;
    --input: 275 20% 88%;
    --ring: 275 100% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 275 20% 10%;
    --foreground: 240 67% 94%;
    --card: 275 20% 15%;
    --card-foreground: 240 67% 94%;
    --popover: 275 20% 10%;
    --popover-foreground: 240 67% 94%;
    --primary: 275 100% 60%;
    --primary-foreground: 275 50% 10%;
    --secondary: 275 20% 20%;
    --secondary-foreground: 240 67% 94%;
    --muted: 275 20% 20%;
    --muted-foreground: 240 20% 60%;
    --accent: 275 30% 30%;
    --accent-foreground: 240 67% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 20% 25%;
    --input: 275 20% 25%;
    --ring: 275 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
